{% extends "base.html" %}
{% load static i18n %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'local_mail_viewer/css/default.css' %}">
{% endblock %}

{% block content %}
<h2 class="title">{% trans 'E-Mail List' %}</h2>
<form action="" method="post">
    {% csrf_token %}
    <table id="mail-list" class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Subject' %}</th>
                <th>{% trans 'Receiver' %}</th>
                <th>{% trans 'Attachments' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for file in filelist %}
            <tr>
                <td>
                    <a href="{% url 'mail:mail-detail' file.name %}">
                        {{ file.date|date:'SHORT_DATETIME_FORMAT'}}
                    </a>
                </td>
                <td>{{ file.subject }}</td>
                <td>{{ file.rec }}</td>
                <td style="text-align: center;">{{ file.attachments_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttons">
        <a href="/">
            {% trans 'Home' %}
        </a>
        <a class="{% if not filelist %} disabled{% endif %}" href="{% url 'mail:delete_all' %}">
            {% trans 'Delete all' %}
        </a>
    </div>

</form>

{% endblock %}