{% extends "base.html" %}
{% load i18n static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'local_mail_viewer/css/default.css' %}">
{% endblock %}

{% block content %}
<h2 class="title">{% trans 'File' %}: {{ filename }}</h2>

<h3>{% trans 'Date' %}</h3>
<p>{{ date|date:"r" }}</p>

<h3>{% trans 'From' %}</h3>
<p>{{ from }}</p>

<h3>{% trans 'To' %}</h3>
<p>{{ to }}</p>

{% if cc %}
    <h3>{% trans 'cc' %}</h3>
    <p>{{ cc }}</p>
{% endif %}

<h3>{% trans 'Subject' %}</h3>
<p>{{ subject }}</p>

<h3>{% trans 'Body' %}</h3>
<p>{{ body|linebreaks }}</p>

<h3>{% trans 'Attachments' %}</h3>
{% for attachment in attachments %}
<p>
    <b>{% trans 'Content Type' %}</b>: {{ attachment.type }}<br/>
    <b>{% trans 'Name' %}</b>: {{ attachment.name }}
    {% if attachment.type != 'text/html' %}
    <a target="_blank" rel="noopener noreferrer" href="{% url 'mail:mail-attachment' filename attachment.name %}">
        {% trans 'View Attachment' %}
    </a>
    {% endif %}
</p>
<p>
    {% if attachment.content %}
        <b>{% trans 'Content' %}</b>:
        <div class="content">{{ attachment.content|safe|linebreaks }}</div>
    {% endif %}
</p>
{% endfor %}

<div class="buttons">
    <a href="{% url 'mail:mails' %}">
        {% trans 'Back' %}
    </a>
    <a href="{% url 'mail:delete' filename %}">
        {% trans 'Delete' %}
    </a>
</div>
{% endblock %}