# Created by .ignore support plugin (hsz.mobi)
!requirements.txt
!.gitignore
.idea/
__pycache__/
.vscode
*.pyc
log/
fixtures/
sent_emails/
*.db
*.bak
.coverage
htmlcov/
.pytest_cache
coverage.xml
unittest.xml
