include LICENSE README.md CHANGELOG.md
recursive-include local_mail_viewer/static *
recursive-include local_mail_viewer/templates *.html *.txt
recursive-include local_mail_viewer/locale/*/LC_MESSAGES *.mo *.po
recursive-exclude * __pycache__
recursive-exclude * manage.py
recursive-exclude *
recursive-exclude local_mail_viewer_sample *
